# Семинар 1: Introduction to Data Science

## 0. Где мы сейчас?

Когда вы проходили DataCamp, вы писали код прямо в ... Datacamp. В реальности обычно это делают в различных текстовых редакторах. Один из таких редакторов - `Jupyter Notebook`. Это  удобная интерактивная среда для запуска кода в браузере. Её использует очень много кто. Будем и мы. 

* В отдельной ячейке можно писать код либо текстовые комментарии
* Наверху удобная панель по работе с юпитером
* Чтобы создать новую ячейку, надо нажать плюсик 
* Чтобы запустить код, надо нажать шифт + энтер

<center>
<img src="http://i0.kym-cdn.com/photos/images/original/000/234/765/b7e.jpg" height="400" width="400">

## 1. Python

> Python - это свободный интерпретируемый объектно-ориентированный расширяемый встраиваемый язык программирования очень высокого уровня 

>*(Г.Россум, Ф.Л.Дж.Дрейк, Д.С.Откидач "Язык программирования Python").*

А если без цитат, то питон - это просто очень крутой язык, созданный в 1991 году [Великодушным пожизненным диктатором](https://ru.wikipedia.org/wiki/%D0%92%D0%B5%D0%BB%D0%B8%D0%BA%D0%BE%D0%B4%D1%83%D1%88%D0%BD%D1%8B%D0%B9_%D0%BF%D0%BE%D0%B6%D0%B8%D0%B7%D0%BD%D0%B5%D0%BD%D0%BD%D1%8B%D0%B9_%D0%B4%D0%B8%D0%BA%D1%82%D0%B0%D1%82%D0%BE%D1%80) Гвидо ван Россумом и называнный в честь любимого им шоу [Monty Python's Flying Circus](https://en.wikipedia.org/wiki/Monty_Python%27s_Flying_Circus)

<center>
<img src="https://zgab33vy595fw5zq-zippykid.netdna-ssl.com/wp-content/uploads/2017/09/growth_major_languages-1-1024x878.png" width="600">

## 2. Anaconda

<img src="https://cdn-images-1.medium.com/max/1600/0*MVkCW8_Bmj-nuAnI.png" width="600">

Любой язык нужно как-то распространять. Python распространяется в дистрибутиве (специальной программе) с названием Anaconda. Кроме самого языка в неё входит юпитер и большое количество разных популярных библиотек. Например: 

 - <a href="http://numpy.org">Numpy</a> - это один из основных пакетов для научных вычислений. Он содержит функциональные средства для работы с многомерными массивами и высокоуровневыми математическими функциями.
 - <a href="http://numpy.org">SciPy</a> - научные вычисления. Методы оптимизации, интегрирования, модули обработки сигналов и изображений, статистика, линейная алгебра, сплайны, кластеризация и многое другое. 
 -  <a href="http://pandas.pydata.org/">Pandas</a> - библиотека для обработки и анализа данных. Предназначена для данных разной природы - матричных, панельных данных, временных рядов. Претендует на звание самого мощного и гибкого средства для анализа данных с открытым исходным кодом.
 - <a href="http://scikit-learn.org/stable/">Scikit-learn</a> - реализация очень многих методов машинного обучения и интеллекуального анализа данных (data mining) с отличной документацией. 
 - <a href="http://http://matplotlib.org/">matplotlib</a> - библиотека для визаулизации данных, в основном двухмерная графика.
 
 Когда вы ставить анаконду, сразу устанавливается всё это добро, покрывающее болбшую часть потребностей аналитика.

## 3. Знакомство с Python

На датакампе вы решили миллион разных задач. Пришло время показать нам весь тот навык, который вы наработали и выполнить кучу разных небольших заданий.  В каких-то из них вы будете объяснять мне что происходит в ячейках, в каких-то дописывать недостающие куски кода.

In [46]:
# Переменные в Python бывают разных типов: каких? 

counter = 100       # An integer assignment
miles = 1000.0      # A floating point
name = "John"       # A string

print(counter)
print(miles)
print(name)

100
1000.0
John

__Задание:__ Объясните что происходит в ячейке ниже, а после дополните код.

In [21]:
# множественное присваивание 
a = b = c = 1
print(a,b,c)

1 1 1

In [3]:
# можно сделать множественное присваиваиние и по-другому
# вспомните как 

a,b,c =  1,2,3
print(a,b,c)

1 2 3

Стандартные типы данных в python: 

* Число  (numbers)
* Строка (string)
* Список (list)
* Кортеж (tuple)
* Словарь (dictionary)

In [22]:
# Number
var1 = 1
var2 = 10

In [48]:
# Strings
my_str = 'Hello World!'

print(my_str)          # Печатаем полностью
print(my_str[0])       # Печатаем первый символ строки
print(my_str[2:5])     # Печатаем символы с третьего по пятый (нумерация в питоне с нуля)

Hello World!
H
llo

In [26]:
# List
my_list = ['abcd', 786 , 2.23, 'john', 70.2]
tinylist = [123, 'john']

print(my_list)            # Печатаем весь лист
print(my_list[0])         # Печатаем первый элемент
print(my_list[1:3])       # Печатаем срез со 2 по 3 элементы (не включае 4)
print(my_list[2:])        # Печатаем все элементы с третьего
print(tinylist * 2)       # Дублирует лист дважды
print(my_list + tinylist) # Складывает листы (конкатенация)

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

__Задание:__ Сделайте конкатенацию двух листов с любыми срезами и распечатайте новый лист.

In [5]:
nastya = [ 135 , 2.34 , "golowchanowa"]
boria = [ 135 , 2.34 , "golowchanowa"]
nastya[:2] + boria [:2]

[135, 2.34, 135, 2.34]

In [27]:
# Tuple

my_tuple = ('abcd', 786 , 2.23, 'john', 70.2)
tinytuple = (123, 'john')

print(my_tuple)         # Печатаем полностью
print(my_tuple[0])      # Печатаем первый элемент
print(my_tuple[1:3])    # Печатаем срез со 2 по 3 элементы (не включае 4)
print(my_tuple[2:])     # Печатаем все элементы с третьего
print(tinytuple * 2)    # Дублирует кортеж дважды

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')

In [49]:
a = [2, 3]
b = (2, 3)

a.append(4)
a

[2, 3, 4]

In [8]:
b.append(4)

AttributeError: 'tuple' object has no attribute 'append'

__Задание:__ Объясните разницу между list и tuple. Конкантенируете tinytuple и my_tuple.

In [ ]:
# Ваш код здесь

In [9]:
# Dictionary

my_dict = {}
my_dict['one'] = "This is one"
my_dict[2] = "This is two"

tinydict = {'name': 'john', 'code': 6734, 'dept': 'sales'}

print(my_dict['one'])      # Выводим значение по ключу 'one'
print(my_dict[2])          # Выводим значение по ключу 2

This is one
This is two

__Задание:__ выведите на экран все ключи и значения, которые есть в словаре.

In [10]:
my_dict

{'one': 'This is one', 2: 'This is two'}

In [12]:
my_dict.values()

dict_values(['This is one', 'This is two'])

In [13]:
my_dict.keys()

dict_keys(['one', 2])

In [14]:
my_dict.items()

dict_items([('one', 'This is one'), (2, 'This is two')])

In [15]:
#Посмотрим на типы элементов, скрывающих за собой ключи и значения словаря
print(type(tinydict.values()))
print(type(tinydict.keys()))

dict_values_elements = tinydict.values()
print(type(dict_values_elements))

<class 'dict_values'>
<class 'dict_keys'>
<class 'dict_values'>

In [18]:
x = 5

In [19]:
x * 2

10

__Задание:__ Попробуйте вытащить из `tinydict.values()` первый элемент по индексу `0`.

In [ ]:
# Ваш код здесь

Отлично! Мы многое помним с Datacamp. Давайте теперь попробуем немного попревращать одни типы данных в другие.

In [20]:
# int(), float() 

s = "10010"
print(int(s))

10010

In [21]:
# то же самое но в двоичной системе исчисления
c = int(s, 2) 
print ("After converting to integer base 2 : ", c)

After converting to integer base 2 :  18

__Задание:__ превратите строку в действительное (float) число.

In [ ]:
# Ваш код здесь

Точно также можно конвертировать и в другие типы.

In [22]:
# tuple(), set(), list() 
s = 'geeks'
  
# printing string converting to tuple 
c = tuple(s) 
print ("After converting string to tuple : ", c) 

  
# printing string converting to set 
c = set(s) 
print ("After converting string to set : ", c) 

  
# printing string converting to list 
c = list(s) 
print ("After converting string to list : ", c)

After converting string to tuple :  ('g', 'e', 'e', 'k', 's')
After converting string to set :  {'s', 'k', 'g', 'e'}
After converting string to list :  ['g', 'e', 'e', 'k', 's']

Поговорим теперь о словарях и множествах.

In [23]:
my_dict = {'ff': 1, 'gg': 2}
print(my_dict)

{'ff': 1, 'gg': 2}

__Задание:__ попробуйте создать словарь, в котором будут дубликаты. Посмотрите что из этого выдет. Объясните что произошло.

In [24]:
my_dict['ff'] = 42
my_dict

{'ff': 42, 'gg': 2}

In [50]:
f = set()

f.add(2)
print(f)

f.add(3)
print(f)

f.add('ggg')
print(f)

{2}
{2, 3}
{'ggg', 2, 3}

__Задание:__ добавьте в множество `f` новые элементы: `42`, а затем `3`. Выведите новое множество на экран. Что произошло? Почему?

In [51]:
print(f)
f.add(3)
f

{'ggg', 2, 3}

{2, 3, 'ggg'}

__Задание:__ объясните почему в ячейке ниже возникает ошибка.

In [29]:
f.add((2,3,4))
f

{(2, 3, 4), 2, 3, 'ggg'}

In [30]:
f.add([2,3,4])

TypeError: unhashable type: 'list'

__Задание:__ попробуйте создать словарь, в котором в качестве ключа используется tuple. После словарь, где в качестве включа используется list. Что произошло? Объясните это.

И снова, мы очень большие молодцы! Теперь поговорим о функциях. Расскажите мне что это такое. 

Вот, например, функция, которая проверяет число на чётность.

In [52]:
def evenOdd( x ): 
    if (x % 2 == 0): 
        return "even"
    else: 
        return "odd"

__Задание:__ вызовите функцию для какого-нибудь чётного и для какого-нибудь нечётного числа.

In [33]:
evenOdd(5)

'odd'

In [34]:
evenOdd(10)

'even'

__Задание:__ Объясните почему lst не изменилися после вызова функции.

In [35]:
def myFun(x): 
    x = [20, 30, 40] 
    
lst = [10, 11, 12, 13, 14, 15]  
myFun(lst); 
print(lst)

[10, 11, 12, 13, 14, 15]

Окей! А что произошло в этой функции?

In [36]:
def try_to_change_list_contents(the_list):
    print('got', the_list)
    the_list.append('four')
    print('changed to', the_list, '\n')

outer_list = ['one', 'two', 'three']


print('before, outer_list =', outer_list, '\n')

# применили функцию и ...
try_to_change_list_contents(outer_list)
print('after, outer_list =', outer_list)

before, outer_list = ['one', 'two', 'three']

got ['one', 'two', 'three']
changed to ['one', 'two', 'three', 'four']

after, outer_list = ['one', 'two', 'three', 'four']

In [57]:
first_list = [5, 8, 9, 'Hello']
second_list = first_list.copy()
second_list

[5, 8, 9, 'Hello']

In [58]:
second_list.append(42)
second_list

[5, 8, 9, 'Hello', 42]

In [59]:
first_list

[5, 8, 9, 'Hello']

**Ой!** Когда мы изменили список `the_list`, магическим образом изменился и исходный список `outer_list`! Почему так произошло? Дело в том, что списки живут в своём собственном мире платоновских идеальных списков. Когда мы присваиваем список переменной, то есть пишем что-нибудь вроде 

    first_list = [5, 8, 9, 'Hello']
    
мы делаем две вещи: во-первых, создаём список (с помощью операции «квадратные скобки»), а потом говорим, что теперь переменная `first_list` будет указывать на этот список (с помощью операции «равно»). Можно сказать, что мы создали список и дали ему *имя* `first_list`. 

После этого в `first_list` хранится не сам список, а указатель (ссылка) на него. Когда мы присваиваем значение `first_list` новой переменной `second_list`, мы не производим копирование списка, мы копируем только указатель. То есть `second_list` просто стала другим именем для того же самого списка, что и `firt_list`. Поэтому изменение элементов `second_list` приведет к изменению `first_list`, и наоборот.

То есть, когда мы передали в функцию `outer_list`, в качестве аргумента `the_list`, мы оперировали указателем. Никакого нового объекта во внутренней зоне видимости функции не созалось и изначальный список поменялся. На смом деле все объекты в python делятся на изменяемые и неизменяемые. Для изменяемых объектов мы всегда передаём в функцию ссылку. Для неизменяемых копию.

__Задание:__ Вроде бы со ссылками разобрались. Теперь попробуйте объяснить вот это.

In [44]:
def try_to_change_list_reference(the_list):
    print('got', the_list)
    the_list = ['and', 'we', 'can', 'not', 'lie']
    print('set to', the_list, '\n')

outer_list = ['we', 'like', 'proper', 'English']

print('before, outer_list =', outer_list, '\n')
try_to_change_list_reference(outer_list)
print('after, outer_list =', outer_list)

before, outer_list = ['we', 'like', 'proper', 'English']

got ['we', 'like', 'proper', 'English']
set to ['and', 'we', 'can', 'not', 'lie']

after, outer_list = ['we', 'like', 'proper', 'English']

__Задание:__ а затем вот это.

In [59]:
def try_to_change_string_reference(the_string):
    print('got', the_string)
    the_string = 'In a kingdom by the sea'
    print('set to', the_string, '\n')

outer_string = 'It was many and many a year ago'

print('before, outer_string =', outer_string, '\n')
try_to_change_string_reference(outer_string)
print('after, outer_string =', outer_string)

before, outer_string = It was many and many a year ago

got It was many and many a year ago
set to In a kingdom by the sea

after, outer_string = It was many and many a year ago

Методы для работы со списками: 

- `list.append(x)`	Добавляет элемент в конец списка
- `list.extend(L)`	Расширяет список list, добавляя в конец все элементы списка L
- `list.insert(i, x)`	Вставляет на i-ый элемент значение x
- `list.remove(x)`	Удаляет первый элемент в списке, имеющий значение x. ValueError, если такого элемента не существует
- `list.pop([i])`	Удаляет i-ый элемент и возвращает его. Если индекс не указан, удаляется последний элемент
- `list.index(x, [start [, end]])`	Возвращает положение первого элемента со значением x (при этом поиск ведется от start до end)
- `list.count(x)`	Возвращает количество элементов со значением x
- `list.sort([key=функция])`	Сортирует список на основе функции
- `list.reverse()`	Разворачивает список
- `list.copy()`	Поверхностная копия списка
- `list.clear()`	Очищает список

__Задание:__ Объясните кусок кода ниже

In [62]:
My_list = [ ]

for i in range(0, 20, 2):
    My_list.append(i)
    
My_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [63]:
My_list.count(2)

1

In [65]:
My_list.index(10), My_list[5]

(5, 10)

In [67]:
My_list.insert(5, 5)
My_list

[0, 2, 4, 6, 8, 5, 5, 10, 12, 14, 16, 18]

In [68]:
My_list.pop()
My_list

[0, 2, 4, 6, 8, 5, 5, 10, 12, 14, 16]

In [70]:
My_list.sort(reverse=True)
My_list

[16, 14, 12, 10, 8, 6, 5, 5, 4, 2, 0]

In [73]:
My_list.reverse()
My_list

[0, 2, 4, 5, 5, 6, 8, 10, 12, 14, 16]

In [77]:
My_list[-5:-1]

[8, 10, 12, 14]

## 4. Задачки для самых умных и быстрых.

### Задача 1

N хоббитов делят K кусков эльфийского хлеба поровну, не делящийся остаток остается в корзинке у Сэма. <br />
1) Сколько кусков эльфиского хлеба достанется каждому хоббиту?<br />
2) Сколько останется в корзинке?

**Образец**

Входные данные:<br />
>3<br />
14<br />

Вывод программы:

>Каждому хоббиту достанется 4<br />
В корзине останется 2

In [ ]:
# Ваш код

### Задача 2 

Хоббит хочет записать слово `python` 100 раз подряд. Помогите ему сделать это.

In [ ]:
# Ваш код

### Задача 3 

Хоббит взял число $179^{10}$ записали четыре раза подряд. Из получившегося числа он извлёк корень степени $10$. Сколько вышло у Хоббита в итоге?

In [ ]:
# Ваш код

### Задача 4

Для могущественного магического ритуала Гендальфу необходимо быстро подсчитывать площадь своего амулета, который умеет менять размеры. Известно, что амулет имеет форму треугольника и Гендальф знает длину каждой из сторон. Напишите функцию, которая считает площадь амулета по трем сторонам. Стороны вводятся вне функции. <br /> 
Подсказка: используйте формулу Герона
$$ S = \sqrt{p(p-a)(p-b)(p-c)} $$
$$ p = \frac{a + b + c}{2}$$
**Образец**

Входные данные:<br />
3
4
5

Вывод программы: <br />
6

In [ ]:
# Ваш код